html,
body {
	padding: 25px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

$m-tab-bar__tab-text-color: #333;
$m-tab-bar__tab-bg: #F3F3F3;
$m-tab-bar__highlight-color: #242072;

.m-tab-bar {
	margin: 0;
	box-shadow: 0 3px 15px 3px rgba(0, 0, 0, .15);
	overflow: hidden;

	&__navigation {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		background: $m-tab-bar__tab-bg;
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
	}

	&__item {
		margin: 0;
		padding: 0;
	}

	&__button {
		padding: 15px;
		text-decoration: none;
		display: block;
		color: $m-tab-bar__tab-text-color;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background: $m-tab-bar__highlight-color;
			bottom: 0;
			left: 0;
		}
	}

	&__content {
		padding: 0 15px;
	}
}
